
<div class="row">
  <div class="col-xl-12">
    <div class="sidebar">
      <a class="active" href="#home">MY COURSES</a>
      <a href="#news">RESOUCES</a>
      <a href="#contact">MYSUBSCRPTION</a>
      <a href="#about">About</a>
    </div>
  </div>
  
  <div class="col 12">
    <div class="content">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <p>Good Morning Lakshmi!</p>
            <span>17th August 2019</span>
          </div>
            <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.teahub.io%2Fphotos%2Ffull%2F52-522398_3840x2160-computer-information-technology-wallpaper-information-technology-images.jpg&imgrefurl=https%3A%2F%2Fwww.teahub.io%2Fviewwp%2FhJbJwT_3840x2160-computer-information-technology-wallpaper-information-technology-images%2F&tbnid=ai5Bd9x-LOzayM&vet=12ahUKEwj1sbWP-eXsAhUIjEsFHeFpBhQQMygregUIARD7AQ..i&docid=rxE_Pyi_Dl23zM&w=3840&h=2160&q=computer%20images%20hd%20download&ved=2ahUKEwj1sbWP-eXsAhUIjEsFHeFpBhQQMygregUIARD7AQ" class="rounded float-right"  alt="our Logo">
        </div>
    </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">CA Final (Old Syllabus)</h5>
              <i class='far fa-calendar-alt'></i><p class="card-text">till 24th August, 2019</p>
              <div class="absolute"><a href="#" class="btn btn-primary" (click)="StartLearning()">Start Learning 
                <i class="fa fa-long-arrow-right"></i></a>
               </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">MCA Intermediate</h5>
              <i class='far fa-calendar-alt'></i><p class="card-text">till 24th August, 2019</p>
              <div class="absolute"><a href="#" class="btn btn-primary">Start Learning
                <i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="shift-right">
        <p>RECENTLY LOADED</p>
      </div>
      
      <div class="row">
      <div class="col 12">
        <div class="card">
          <div class="card-body1">
            <h5 class="card-title">CA Final</h5>
            <p class="card-text">Ind AS 113:Fair Value Measurement</p>
            <p class="card-text">Financial Reporting</p>
            <p>Ind AS on Measurement based on Accounting policies</p>
            <p>SERIES 2</p>
          </div>
        </div>
        </div>
      </div>

      <div class="col 12">
        <h2>RECENTLY VIEWED</h2>
        <p>Lectures viwed in past 7 days</p>
        <div class="card">
          <div class="card-body">
            <p class="card-title">CA Intermediate</p>
            <p class="card-text">credit expires in 2 hr 32 min</p>
            <p>Introduction, Basics of Costing & Absorption Coasting Vs Marginal Costing</p>
            <p>Finantial Reporting</p><p>Instriduction and Marginal Costing Basics</p>
          </div>
        </div>
        </div>

    </div>
  </div>
</div>



